.post-list-page {
  height: calc(100vh - 70px);
  padding: 35px;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;

  .list {
    display: flex;
    flex-wrap: wrap;
  }
}
